main {
  min-height: 80vh;
  overflow: hidden;
}
.home-header {
  background-image: url('/images/h.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
}
.about-header {
  background-image: url('/images/pic.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
}
.i {
  font-size: 30px;
  width: 20%;
}
.name {
  font-size: 40px;
}
@media (max-width: 475px) {
  .name {
    font-size: 30px;
  }
}
.p {
  font-size: 18px;
}
.nav {
  background: #e7e7e7;
  opacity: 0.9;
}
a {
  text-decoration: none;
  color: #4a4a4a;
}
